* {
    margin : 0px;
    padding : 0px;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
}

.header {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    color: white;
}

.main {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    margin-top: 30px;
}

.contleft {
    width: 30vw;
    height: 80%;
    flex-direction: column;
    justify-content: right;
    align-items: top;
    border: 1px solid darkblue;
    border-radius: 10px;
}

.contright {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: top;
    align-items: center;
/*    background-color: rgb(228, 240, 255);*/
    border-radius: 10px;
}

.formbox {
    display: flex;
    background-color: darkblue;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.gc1 {
    width: 30vw;
    height: 80%;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.detail {
    width: 300px;
    height: 400px;
    background-color: darkblue;
    margin-right : 5px;
    padding-top : 30px;
    border-radius: 10px;
}

.box1 {
    width : 60vw;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    font-weight: bold;
}

.c1Tag, .c1Sel{
    display: flex;
    width: 23vw;
    height: 7vh;
    border: 1px solid rgb(151, 150, 150);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 7px;
    font-size: 17px;
}

.c1Tag:hover, .c1Tag:active, .c1Sel {
    background-color: darkblue;
    color: white;
    font-weight: bold;
}

ul {
    width: 300px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    padding : 0px;
    margin : 0px;
}

.contright img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding : 0px;
    margin : 0px;
}

ul li {
    width: 200px;
    display: flex;
    justify-content: left;
    align-items: left;
    margin-bottom: 5px;
    padding : 0px;
    margin : 0px;
}

.galTitle {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    background-color: darkblue;
    color: white;
}

/*
@keyframes blink-effect { 50% { opacity: 50%; } } 
.galTitle {
    background-color: darkblue;
    font-weight: bold;
    animation: blink-effect 0.8s step-end infinite; 
}*/

.galPhotographyLocation {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.galPhotographer, .galPhotographyMonth {
    font-size: 13px;
    font-weight: bold;
}

.galPhotographer {
    color:white;
    font-weight: bold;
}

.galPhotographyMonth {
    font-style: italic;
    font-weight: bold;
    color: white;
}

.galSearchKeyword {
    color : rgb(103, 155, 176);
    font-size: 11px;
    font-style: italic;
    text-decoration: underline;
}

button {
    background-color: rgb(151, 150, 150);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    margin: 15px;
    font-size: 16px;
    border-radius: 5px;
}

input[type=text] {
    width:230px;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    outline: none;
}

select {
    width:200px;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    outline: none;
}

select:focus {
    
    border: 3px solid #a51111;
}