.content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
}

.header {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    color: white;
}

.main {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    margin-top: 30px;
}

.gc1, .gdt {
    height: 80%;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.gc1 {
    width: 30vw;
}

.box1 {
    width : 60vw;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.gdt {
    width: 850px;
    height: 70vh;
    justify-content: top;
    align-items: center;
    background-color: rgb(228, 240, 255);
    border-radius: 10px;
}

.c1Tag, .c1Sel{
    display: flex;
    width: 23vw;
    height: 7vh;
    border: 1px solid rgb(151, 150, 150);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 7px;
    font-size: 17px;
}

.c1Tag:hover, .c1Tag:active, .c1Sel {
    background-color: darkblue;
    color: white;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
}

.detail img {
    width: 600px;
    height: 400px;
    border-radius: 10px;
}

ul > li {
    width: 600px;
    display: flex;
    justify-content: left;
    align-items: left;
    margin-bottom: 5px;
}

.galTitle {
    width: 600px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    background-color: darkblue;
    color: white;
}
@keyframes blink-effect { 50% { opacity: 50%; } } 
.galTitle {
    background-color: darkblue;
    font-weight: bold;
    animation: blink-effect 0.8s step-end infinite; 
}

.galPhotographyLocation {
    font-size: 20px;
    font-weight: bold;
    color: rgb(82, 82, 82);
}

.galPhotographer, .galPhotographyMonth {
    font-size: 17px;
    font-weight: bold;
}

.galPhotographer {
    color: rgb(33, 33, 147);
    font-weight: bold;
}

.galPhotographyMonth {
    font-style: italic;
    color: rgb(82, 82, 82);
}

.galSearchKeyword {
    color : rgb(103, 155, 176);
    font-size: 15px;
    font-style: italic;
    text-decoration: underline;
}