.bheader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: darkblue;
    color: white;
}

h1 {
    font-size: 5vh;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;               /*세로정렬*/
    height: 90vh;
}
.rowDiv, .rowDiv0 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 6vh;
    border-bottom: 1px solid gray;
}

.rowDiv0 {

    font-weight: bold;
}
.rowDiv:hover, .rowDiv:active {
    background-color: beige;
}

.rowDay {
    width: 60vw;
    height: 6vh;
    padding: 10px;
    background-color: brown;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
}

.col {
    display: inline-flex;        /* 스팬은 원래 width, height 잡을수 없으나, inline-flex로 박스 만들어줌*/
    justify-content: center;
    align-items: center;
}

#colrank {
    width: 10%;
}

#colmovieNm {
    width: 60%;
}

#colsalesAmt {
    width: 20%;
}

#colrankInten {
    width: 10%;
}

.spup {
    color: brown;
}

.spdown {
    color: blue;
}